/*--------------------------------- HEADER -----------------------------------*/


/*Banniere
------------------------------------------------------------------------------*/
#imgBanniere
{
    max-width: 100%; /*permet à l'image de prendre les dimensions de l'écran*/
}

.banniere
{
    position: relative; /*permet de superposer le titre de la page sur l'image de la bannière*/
    width: 100%; /*pour la compatibilité avec IE6*/
    text-align: center;
}

h1
{
    position: absolute; /*permet de superposer le titre de la page sur l'image de la bannière*/
    top: 50%;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 80px
}

h1 span
{
    background: rgb(0, 0, 0);/*pour les anciens navigateurs qui ne prennent pas en compte l'effet de transparence*/
    background: rgba(0, 0, 0, 0.4);/*permet l'effet de transparence*/
    padding: 100px;/*grandes marges intérieures pour le titre*/
}

h1 img
{/*logo du groupe présent uniquement sur la page index.html (acceuil)*/
    max-height: 85px;
    position: absolute;
}

/*Menu
------------------------------------------------------------------------------*/

#menu
{/*propre à la page discographie.html car le blanc habituel du bouton ne se voyait pas bien*/
    color: black;
}

.menu
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; /*gère la superposition (plus il est élevé, plus l'élément est au dessus)*/
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden; /*permet de cacher le menu sur le côté*/
    transition: 0.5s; /*temps que met le menu latéral à s'ouvrir*/
}

nav ul
{
  margin-left: 20px;
}

.menu a,
.menu .bouton
{
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.bouton:hover
{/*permet de changer le curseur en pointeur pour la partie déroulante du menu (membres) gérée par un span et javascript*/
    cursor: pointer;
}

.menu a:hover,
.offcanvas a:focus,
.menu .bouton:hover,
.offcanvas .bouton:focus
{
    color: #f1f1f1; /*changement de couleur des liens du menu au survol*/
}

.menu .fermeture
{/*pour la petite croix de fermeture dans le menu déroulé en haut à droite*/
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height : 450px)
{/*javaScript*/
    .menu{
        padding-top: 15px;
    }
    .menu a,
    .menu .bouton{
        font-size: 18px;
    }
}

.deroulant
{
    display: none;
}

.show
{
    display: block;
}

.btn
{/*pour le logo MENU placé en haut à droite des pages html*/
    top: 20px;
    position: fixed;/*permet au bouton d'avoir une position fixe sur les pages html*/
    z-index: 100;
    right: 20px;
    width: 120px;
    color: white;
    font-size: x-large;
}


/*----------------------------------- BODY -----------------------------------*/

body
{
    background-color: #560803; /* hésitation avec cette couleur qui était le premier choix #7F0603*/
    font-family: Lucidatypewriter, monospace;
}

.alternative
{/*pour changer la couleur du background (Cf. body)*/
    background-color: #0C2B63; /*couleur complémentaire du background-color du body*/
}

h2
{/*titre de 2ème niveau*/
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    width: 100%;
    color: white;
}

h3
{/*titre de 3ème niveau*/
    color: black;
}

p
{
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-right: 30px;
    padding-left: 30px;
    color: white !important; /*!important permet de déroger à la règle établie par le framework skeleton*/
    text-align: center;
    justify-content: center;
}


div.row p
{
    font-size: 25px;
    text-align: center;
}

div.equalizer p
{
    font-size: 15px;
    text-align: justify;
    padding: 20px;
}

.equalizer
{
    height: 366px;
    overflow-y: auto;
    background-color: rgba(155, 100, 100, 0.4);
    border-radius: 5px; /*permet d'arrondir les angles*/
}

.alternative .equalizer
{
    background-color: rgba(50, 90, 120, 0.5);
}

.imgContainer
{
    overflow: hidden; /*rogne le contenu pouvant dépasser des div*/
    background-color: rgba(0, 0, 0, 0) !important; /*!important permet de déroger à la règle établie par le framework skeleton*/
}

.row
{
    margin-bottom: 20px;
}

div.equalizer img
{
    max-width: 100%;
    border-radius: 5px;
}

sup
{/*contenant (pop-up) de la note en survol*/
    position: relative;
    color: #5107E2;
}

sup span
{/*note contenu dans la pop-up*/
    display: none; /*permet de cacher la note*/
    font-size: 15px;
    padding: 10px;
    margin: 5px;
    line-height: 15px;
    width: 500px;
    color: grey;
    border-radius: 5px; /*permet d'arrondir les angles*/
}

sup:hover span
{/*survol*/
    display: block; /*affiche la note au survol de l'appel de note*/
    position: absolute;
    background-color: rgb(240, 218, 201);
}

.lienExt
{/*lien souligné  en pointillé de la même couleur que le texte*/
    color: white;
    text-decoration: none;
    border-bottom: dotted 1px;
}

.lienExt:hover
{/*lien qui change de couleur au survol*/
  color: grey;
}

.lienInterne
{/*lien souligné  en pointillé de la même couleur que le texte*/
    color: white;
    text-decoration: none;
    border-bottom: dotted 1px;
}

.lienInterne:hover
{/*lien qui change de couleur au survol*/
    color: grey;
}

ul
{
  list-style: none; /*supprime les puces des listes*/
}

.hautPage img
{
    width: 50px;
}

.hautPage
{
    float: right; /*positionne le lien haut de page à droite*/
    margin-right: 40px;
}

/*Discographie
 -----------------------------------------------------------------------------*/

figure
{
    display: inline-block;
    text-align: center;
    background-color: rgb(240, 218, 201); /*Pour rappeler la couleur du Footer*/
    border-radius: 4px;
    /* premier choix : box-shadow: 2px 2px 5px #080A0D*/
    color: #403D39;
    font-size: 15px;
    position: relative; /*pour la superposition des titres au survol*/
    width: 100%;
    margin: 0; /*Pour régler le problème de style des navigateurs qui ajoutent une marge*/
}

figure img
{
    border-radius: 4px;
}

figure div
{
    display: none; /*cache le contenu de la div (affichage au survol)*/
    width: 100%; /*contraint la hauteur et la largeur de l'élément div à celles de l'élément figure*/
    height: 100%;
    overflow-y: auto; /*crée une scrollbar lorsque le texte est trop long*/
}

figure div ul
{
    list-style-type: decimal; /*numérotation des pistes d'album*/
}

figure:hover div
{
    display: inline; /*permet l'affichage au survol*/
    position: absolute; /*pour la superposition des titres au survol*/
    background-color: rgb(25, 25, 25); /*pour les anciens navigateurs ne gérant pas la transparence*/
    background-color: rgba(25, 25, 25, .7); /* légère transparence */
    left: 0;
    top: 0;
    z-index: 500; /*priorité de superposition*/
    color: white;
    box-shadow: 6px 6px 10px #080A0D;
    border-radius: 4px;
}

.disque
{
    width: 100%;
}


/*Videos
------------------------------------------------------------------------------*/

figure object.video
{
    width: 100%;
    border-radius: 4px;
}

figure.video
{
    width: auto;
}

/*Audio
------------------------------------------------------------------------------*/

#audio
{
  font-size: 15px;
  color: white;
  text-align: center;
}

audio, .audio
{
  width:350px;
}

.audio
{
  text-align: center;
  background-color: rgb(240, 218, 201); /*Pour rappeler la couleur du Footer*/
  border-radius: 4px;
  /* premier choix : box-shadow: 2px 2px 5px #080A0D;*/
  color: #403D39;
  font-size: 15px;
  margin: auto;
}

.fontAudio
{
  font-size: 20px;
}

/*---------------------------------FOOTER-------------------------------------*/


footer
{
    background-color: rgb(240, 218, 201); /*couleur récupérer sur le logo du groupe*/
    padding-top: 20px;
}

footer .row
{
  margin-bottom: 10px;
}

div.mentions
{
    font-size: 20px;
}

div.mentions a:hover
{
    color: grey;
}

.imgFooter
{
    width: 50px;
    filter: grayscale(100%); /*met les images en niveau de gris*/
}

.imgFooter:hover
{
    width: 50px;
    filter: grayscale(0%); /*met les images en couleurs au survol*/
}

.mentions
{
    text-align: center;
}

.valid img
{
    width: 100px;
}

img.logoGithub
{
    width: 45px;
}

.lienFooter
{
    color: black;
    text-decoration: none;
    border-bottom: dotted 1px;
}

.lienFooterimg /*Pour ne pas que le lien externe soit souligné de pointillés*/
{
    border-bottom: none;
}
